.inline-input{
    padding:0.2em;
}
.index-max-height{
    max-height: 100px;
}
.action-icon:hover{
    opacity: 0.5;
    cursor: pointer;
}
.actions-div{
    padding-left: 2em;
    padding-right: 2em;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-image: none;
    color: lightgrey;
    width: auto;
    height: auto;

}
.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}
.card{
    border: 2px solid rgba(0,0,0,.125);
}
.card-body{
    padding: 0.5em;
}
.carousel-img{
    max-height:400px;
    margin-left: 0!important;
    margin-right: 0!important;
}
.hr-card{
    margin: 0.2em;
}
.list-group-item{
    padding: 0;
    font-size: 0.8em;
}
.teasers{
    font-size:0.8em;
    line-height:1;
    margin:0;
    color: gray;
}
.updated_at{
    font-size:0.8em;
    line-height:1;
    margin:0;
    color: gray;
}
.updated_at a:hover{
    text-decoration: none;
}
.titulo{
    font-family: 'Londrina Outline', cursive;
    font-weight: bold;
}
.title-emoji{
    font-size: 3em;
}
.inline-headers{
    display: inline-block;
    vertical-align: baseline;
}
.popover-body{
    font-weight: bold;
}
mark {
    background-color:yellow;
}
.nav-item, .nav-link{
    transition: all 0.5s ease;
    border-radius: 0.5em;
}
.nav-item:hover{
    background-color: grey;
}
.nav-link:hover{
    color: white!important;
}
@keyframes spin {
    to { transform: rotate(360deg);}
}
.spinner-div {
    width: 100%;
    height: 100%;
    text-align: center;
    position:absolute;  
    z-index:999;
    background-color: rgba(130, 130, 130, 0.6);
    display: none;
}
.spinner {
    border: 2em solid rgba(0, 0, 0, 0.1);
    border-left-color: #0066cc;
    border-radius: 50%;
    height: 10em;
    width: 10em;
    animation: spin 1s linear infinite; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    display: none;
}
.liked {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    display: none;
}
.over-carousel-div{
    transform: rotate(-20deg);
    line-height: 0.5;
}
.over-carousel-div img{
    max-width: 100%;
}
.images-bg{
    opacity: 0.4;
    max-height: 100%;
    max-width: 100%;
    padding: 0!important;
    margin: 0!important;
    z-index: 0;
    position: absolute;
    overflow: hidden;
}
.col-img-bg{
    padding: 0!important;
    margin: 0!important;
}
.images-bg img{
    width: 100%;
    max-height: 220px;
    padding: 0!important;
    margin: 0!important;
    float: left;
}
.login-btn-link:hover{
    text-decoration: none;
}
.card-login{
    display:inline-block;
    margin-top: 8%;
}
.card-login-fb{
    display:inline-block;
    margin-top: 5%;
}
.profile{
    display:grid;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
@media (min-width: 1200px){
    .container-index {
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }
}